version: 2
jobs:
 build:
   machine: true
   steps:
     - checkout
     - run:
          name: Build and push Docker image
          command: |
            TAG="0.1.${CIRCLE_BUILD_NUM}"
            docker build -t uzzal2k5/django-docker:$TAG .
            docker login -u $DOCKER_LOGIN -p $DOCKER_PASSWORD
            docker push uzzal2k5/django-docker:$TAG